svg path{
    cursor: pointer;
}

body{
    font-family: -apple-system,  
    BlinkMacSystemFont, sans-serif; 
}

h1{
    font-family: -apple-system,  
                BlinkMacSystemFont, sans-serif; 
    font-weight: 600;
    
    
}

#cric{
    color: black;

}

input{
    font-family: -apple-system,BlinkMacSystemFont, sans-serif;
    margin: 5px;
    

}

.container {
    
    perspective: 1000px;
    margin-bottom: 30px;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
  }

#book{
    color: blue;
}
.seat {
    background-color: #D9D9D9 ;
    height: 24px;
    width: 30px;
    margin: 6px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .seat.selected {
    background-color: green;
  }
  
  .seat.occupied {
    background-color: grey;
  }

  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }

  .showcase {
    background-color: whitesmoke;
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    
  }
  
  .showcase li small {
    margin-left: 10px;
  }
  
  .row {
    display: flex;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  


.login-box{
    margin-top:  5%;
    font-family: -apple-system,  
                BlinkMacSystemFont, sans-serif;
    text-align:center;                        
    margin-left: 25%;
    width: 50%;
    
}

.sub{
    margin-top: 20px;
}

.bar{
    height: 38px;
    background-color: #D9D9D9;
}

.bar h1 {
    
    display: inline;
    margin-left: 75px; 
    /* Moves the text 50 pixels from the left margin */
}

#back{
    margin-left: 65%;
}


.flex-container {
    display: flex;
    margin-left: 50px;
    /* Adjusts space between elements */


    
 /* Adjusts space between elements */
  }

  #stand{
   
   
   position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);

   
  }

  .svg{
    width: 100%;
  }