h1{
    font-family: -apple-system,  
                BlinkMacSystemFont, sans-serif; 
    
}

#cric{
    color: black;

}

input{
    font-family: -apple-system,BlinkMacSystemFont, sans-serif;
    margin: 5px;
    

}

#book{
    color: blue;
}



.login-box{
    margin-top:  5%;
    font-family: -apple-system,  
                BlinkMacSystemFont, sans-serif;
    text-align:center;                        
    margin-left: 25%;
    width: 50%;
    
}

.sub{
    margin-top: 20px;
}

.stub{
    text-align: center;
}

.bar{
    height: 38px;
    background-color: #D9D9D9;
    
}

#back{
    margin-left: 70%;
}

#back:hover {
    text-decoration: underline;
}


.bar h1 {
    cursor: pointer;
    display: inline;
    margin-left: 50px; /* Moves the text 50 pixels from the left margin */
}


.flex-container {
    display: flex;
    margin-left: 50px;
    /* Adjusts space between elements */


    
 /* Adjusts space between elements */
  }

  .match1, .match2, .match3, .match4 {
    /* Additional styles for individual matches */
    margin-top:50px;
    margin-left: 50px;
    display: inline-block;
    font-weight: bold;
    width: calc(33.33% - 10px); /* Calculate width to fit three matches in a row with some spacing */
    margin-right: 10px; /* Add some space between matches */
    border: 1px solid black; /* For visualization purposes */
    padding: 10px; /* Add padding for better readability */
}

.spacer{
    margin-left: 145px;
}
  